<configuration debug="false">
	<contextName>springboot-restful</contextName>
	<property name="LOG_HOME" value="/Users/apple/Ricky/logs/" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="appInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/info/springboot-hikaricp-info.log</file>
		<append>true</append>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/info/springboot-hikaricp.%d{yyyy-MM-dd}-info.log.gz
			</fileNamePattern>
			<maxHistory>360</maxHistory>
		</rollingPolicy>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- AsyncAppender -->
	<appender name="appInfoAsync" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>2000</queueSize>
		<appender-ref ref="appInfo" />
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="appInfoAsync" />
	</root>
</configuration>